<%- include("partials/header") -%>
<!-- <h1>Home</h1> -->
<div >
  <hr>
  <p><%= inner %></p>
  <hr>
    <h2> Article's Section </h2></div>
    
<div class="container">
    
    <% newpost.forEach(function(data){ %>
<div class="items">

  <ul>
      <li><a href="/posts/<%=data.title %>"><h1> <%= data.title.split("-").join(" ") %></h1></a>
        <img class="Homeimg" src="<%=data.Imgtext %>" alt="<%= data.title %>"/> 

        <p><%=data.body.substring(0,100) +" ..." %> <a href="/posts/<%=data.title %>">Read more</a></p>
        <label> <%= data.updated.toString().substring(0,15) %></label>
      
      </li> 
    </ul>
  </div>
    <% }); %>
</div>
<div id="rightside">
  <h3> Weather Report</h3>
  <% if (mosam) { %>
    <div class="mosam">
      <h2><%= mosam.city %></h2>
  <h3>Temperature : <%= mosam.temperature %>°C</h3>
  <h3>Description : <%= mosam.description %> <img src="http://openweathermap.org/img/wn/<%= mosam.icon %>.png" alt="<%= description %>" ></h3>
  </div> 
  
  <% } else { %>
    <p>Could not fetch weather data. Please try again later.</p>
<% } %>

</div>

    

<%- include("partials/footer") -%>