<%- include("partials/header") -%>
<!-- <h1>Home</h1> -->
<div>
    <p><%= inner %></p>
    <hr>
    <h2> Article Section </h2>
    <ul>
    <% newpost.forEach(function(data){ %>

      <li> <h1> <%= data.title %></h1>
        <p><%=data.body.substring(0,100) +" ..." %> <a href="/posts/<%=data.title %>">Read more</a></p>

    </li> 
    <% }); %>
</ul>
</div>
    

<%- include("partials/footer") -%>