<%- include("partials/header") -%>

<h1><%= title %></h1>
<label><%= date.toString().substring(0,15) %></label>
<hr>
<img class="postimg" src="<%=Imgtext %>" alt="<%= title %>"/> 
<hr>
<p><%= content %></p>
<hr>
<h2><%= Head2 %></h2>
<hr>
<img class="postimg" src="<%= Imgtext2 %>" />
<hr>
<P><%= body2 %></P>
<hr>
<%- include("partials/footer") -%>